body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.main__row {
	display: flex;
}

/*Menu*/
.colum-2 {
	background: #191718;
	color: #fff;
	width: 150px;
	height: 1100px;
}

.main .menu {
	padding-left: 0px;
	margin: 0;
}

.main .menu .menu-item {
	color: #AAAAAA;
	list-style: none;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #5C5C5C;
	padding-left: 15px;
	font-size: 16px;
	font-weight: bold;
}

.main .menu .menu-item:hover {
	background: #5C5C5C;
	color: #FFFFFF;
}

/*Content*/
.main .colum-10 {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.main .colum-10 .image {
	width: 310px;
	height: 122px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.main .header {
	width: 80%;
	height: 238px;
	background: #EFEFEF;
	margin: 0 129px;
	padding: 38px;
	box-sizing: border-box;
}

.main .header__title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 18px;
}

.main .header__para {
	width: 80%;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto 38px auto;
	color: #000000;
}

/*Post*/
.posts {
	height: auto;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-top: 30px;
}

.posts .post {
	width: 22%;
	box-sizing: border-box;
}

.posts .post-title {
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;
}

.posts .post-content {
	display: flex;
}

.posts .post-img {
	width: 128px;
	height: 128px;
}

.post-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.post-para1, .post-para2 {
	text-align: justify;
}
